#app-title {
    text-align: center;
}

.form-container > form {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 50%;
}

button:hover {
    cursor: pointer;
}

button[disabled]:hover {
    cursor: not-allowed;
}