#app-title {
    text-align: center;
}

app-root > .container {
    height: 100vh;
}

main {
    height: calc(100% - 52px);
}

#message-box {
    height: calc(100% - 78px);
    overflow-y: auto;
}

.form-container > form {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 50%;
}

button:hover {
    cursor: pointer;
}

button[disabled]:hover {
    cursor: not-allowed;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}