.message {
    text-align: left;
}

.message .message-block > p {
    display: inline-block;
    background-color: #4080FF;
    border-radius: 0.25rem;
    padding: 5px 10px;
    color: white;
}

.message.own-message {
     text-align: right;
}

.message.own-message .message-block > p {
    background-color: #F1F0F0;
    color: #4B4F56;
}

.meta-part {
    color: darkgrey;
}

.message .message-block > p.text-part:hover {
    cursor: pointer;
}

.message .message-block > p.text-part {
    margin-bottom: 0rem;
}

.message .message-block {
    margin-bottom: 1rem;
}